body{
    overflow-x: hidden;
}

.navbar {
    position:fixed;
    width: 100%;
    height: 17%;
    background-color: #EDE8E1;
    z-index: 2;
}

.navbar-brand{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    padding-left: 12%;
    color: #64422E;
}

.navbar-nav {
    padding-left: 50%;
}

.nav-link {
    color: #64422E;
}

.nav-item{
    padding: 20px;
    font-size: large;
    color: #64422E;
}


.navbar a:hover {
    color: #64422E;
}

.logo-container {
    position: fixed;
    top: 5px;
    left: 35px;
  }

.logo.container {
    top: 10px;
    left: 30px;  
}

.logo {
    width: 99px;
    height: 99px;
  }

.logo2 {
    width: 300px;
    height: 300px;
    border-radius: 30%;
}


.educacionCachorros{
    background-color: #64422E;
}

h1 {
    margin-top: 18%;
    font-weight: 400;
    font-style:normal;
}

.problemas h2{
    text-align: left;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.resolvemos{
    background-color: #64422E;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 30px;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;
  }

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}



.problemas {
    background-color: #9d6c4f;
    text-align: center;
    padding-bottom: 2rem;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center;
    margin-right: 50%;
}

.servicios {
    background-color:#64422E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    padding: 40px;
    padding-bottom: 5%;
}

.elfsight-app-1f8f44ea-f1e7-48bd-832a-f76ff9bb707d {
    max-width: 100%;
    overflow-x: hidden;
    display: block;
    margin: auto;
  }
  
  body {
    overflow-x: hidden; /* Evita scroll horizontal global */
  }
.imagen-rex {
    position:static;
    width: 350px;
    height: 350px;
}

.ubicacion {
    background-color: #64422E;
    color: white;
}

.ubicacion h2{
    padding-top: 3rem;
}

.ubicacion i{
    padding-left: 1rem;
}

.ubicacion div{
    padding: 0.5rem;
}

.contacto {
    color: #64422E;
    background-color: #EDE8E1;
    margin: auto;
    padding: 40px 30px;
    text-align: left;
    border-radius: 8px;

}

.contacto a{
    color: #64422E;

}

hr {
    height: 4px;
    color: #64422E;
    margin: 30px auto;
  }


footer {
    text-align: center;
    padding-top: 4rem;
}

@media (max-width: 768px) {
    h1{
        margin-top: 45%;
        text-align: center;
    }
    p {
        padding-top: 2%;
        margin-left: 0px;
    }


    .lista{
        padding: 0%;
        margin: 5%;
    }

    .logo{
        display: 0;
        padding-right:0%;
        margin-top: 0%;
        height: 140px;
        width:140px;
    }
    .logo2{
        display: none;
    }

    .navbar-brand{
        text-align: center;
        font-size: medium;
        padding-left: 60%;

    }
}
